

.container-page {
  display: flex;
  flex-direction: column;
  flex: 1;

  header {
    flex: 0 1;
  }

  .page {
    height: 100vh;
  }
}

.page {
    display: flex;
    flex-direction: row;

    aside {
        min-width: 450px;
        padding-top: 56px;
        display: flex;
        flex-direction: column;
        flex: 0 1;
        flex-basis: fit-content;
        background: #000000;
        box-shadow: 0px 0px 10px #222;
    }

    .nav-header {
        display: flex;
        background: #222;
        padding: 15px 10px;
        justify-content: space-between;
        ul {
          padding: 4px;
          background: #333;
          border-radius: 8px;
        }
    }

    .nav-select-list {
        overflow-y: auto;
        flex: 1;
        // min-width: 450px;
        border-radius: 0;
        .list-group-item {
            padding-top: 15px;
            padding-bottom: 15px;
            border-radius: 0;
            border-right: 0;
            border-left: 0;
        }
    }

    main {
        flex: 1;
        padding-top: 56px;
        overflow-y: auto;

        h1 {
            text-shadow: 0px -2px 0px #000000;
            font-family: monospace;
            font-size: 14pt;
            position: absolute;
            top: 16px;
            z-index: 9999;
        }

        .align-right {
          text-align: right;
        }

        .form-group {
            margin-bottom: 0.8rem;
        }

        .form-section {
            margin: 1rem 0;
            padding: 0rem;
            // background: rgb(34,34,34); 
            // box-shadow: 0px 1px 0px #5a5a5a;
            // border: 1px solid #515151;
            // border-radius: 4px;
            .form-check {
                margin-bottom: 0;
            }

            h2 {
                font-weight: normal;
                font-size: 12pt;
                font-family: monospace;
            }
        }

        .form-label, .form-check-label {
            font-family: monospace;
        }

    }
}

.container-flex {
    flex-direction: column;
    display: flex;
    padding: 0 2rem;
    .flex-row {
        margin-top: 1.8rem;
        flex: 1;
    }
    .row > * {
    }
}
